* {
	margin: 0;
	padding: 0;
}

header, nav, section, article, aside, footer {
	display: block;
}

a {
	color: #004ab8;
	outline: none;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color: #3A4AF8;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}

#wrapper {
	max-width: 1024px;
	margin: 0 auto;

	min-height: 100%;
	height: auto !important;
	height: 100%;
	background:#fff;
	border: 1px solid #63B2F8;
	box-shadow: 0 3px 3px 3px #63B2F8;
	-moz-box-shadow: 0 3px 3px 3px #63B2F8;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	padding-top:10px;
	margin-bottom:5px;
	height: 200px;
	background: #ECF5FE;
	border-bottom: 1px solid #63B2F8;
	box-shadow: 0 3px 8px -3px #63B2F8;
	-moz-box-shadow: 0 3px 8px -3px #63B2F8;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	min-height: 768px;
	padding-bottom: 100px;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 270px 0 0;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #ECF5FE;
	
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -100px auto 0;

	max-width: 1024px;
	height: 150px;
	position: relative;
	
}